<!-- javascripts for fancybox -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-migrate-1.4.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.fancybox.pack.js">
</script>
<script src="{{site.baseurl}}/assets/js/jquery.fancybox-media.js">
</script>
<script src="{{site.baseurl}}/assets/js/jquery.fancy-photoset.js">
</script>
<script src="{{site.baseurl}}/assets/js/navbar.js">
</script>
