---
layout: default
---
<article id="page-content">
  <header id="main"><span id="user"></span>
    <h1 class="title">{{ page.title }}</h1>
        {%- include post_info.html post=page -%}
  </header>
  <section class="post-content">
    {% if page.image %}
    <img src="{{ page.image | replace: '../uploads', '/uploads' }}" alt="{{ page.title }}" />
    {% endif %}
    <section class="details">
      {{ content | replace: "../uploads", "/uploads" }}
    </section>
  </section>
  <!-- Social media shares -->
  {% include share_buttons.html %}
   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}

</article>

<!-- Disqus -->
{% if site.data.social.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.post_navigation %}
  {% include post_nav.html %}
{% endif %}